/* Coolors Exported Palette - https://coolors.co/65c1d2-59cec5-b9e6e6-c3e1fc */

/* HSL */
$color1: hsla(189%, 52%, 82%, 1);
$color2: hsla(175%, 57%, 81%, 1);
$color3: hsla(180%, 20%, 90%, 1);
$color4: hsla(208%, 23%, 99%, 1);

/* RGB */
$color1: rgba(101, 193, 210, 1);
$color2: rgba(89, 206, 197, 1);
$color3: rgba(185, 230, 230, 1);
$color4: rgba(195, 225, 252, 1);

/* HEX */
$color1: #65C1D2ff;
$color2: #59CEC5ff;
$color3: #B9E6E6ff;
$color4: #C3E1FCff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #65C1D2ff, #59CEC5ff, #B9E6E6ff, #C3E1FCff);
$gradient-right: linear-gradient(90deg, #65C1D2ff, #59CEC5ff, #B9E6E6ff, #C3E1FCff);
$gradient-bottom: linear-gradient(180deg, #65C1D2ff, #59CEC5ff, #B9E6E6ff, #C3E1FCff);
$gradient-left: linear-gradient(270deg, #65C1D2ff, #59CEC5ff, #B9E6E6ff, #C3E1FCff);
$gradient-top-right: linear-gradient(45deg, #65C1D2ff, #59CEC5ff, #B9E6E6ff, #C3E1FCff);
$gradient-bottom-right: linear-gradient(135deg, #65C1D2ff, #59CEC5ff, #B9E6E6ff, #C3E1FCff);
$gradient-top-left: linear-gradient(225deg, #65C1D2ff, #59CEC5ff, #B9E6E6ff, #C3E1FCff);
$gradient-bottom-left: linear-gradient(315deg, #65C1D2ff, #59CEC5ff, #B9E6E6ff, #C3E1FCff);
$gradient-radial: radial-gradient(#65C1D2ff, #59CEC5ff, #B9E6E6ff, #C3E1FCff);